    {{ with .Site.Params.isso }}
        <script data-isso="{{ . }}" src=" {{ . }}js/embed.min.js"></script>

        <section id="isso-thread"></section>
    {{ else }}
        <section>isso pas là</section>
    {{ end }}
